<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action=".">{% csrf_token %}  <!-- 아래 코드-->

    <!-- username 입력 요소를 출력합니다.
    form.username 은 사용자 이름을 입력할 수 있는 input 창을 생성시킵니다.
    form.username.label_tag 는 username input 의 레이블에 콜론(:) 까지 붙여서 출력할 수 있게 해줍니다.
    -->
    {% if form.errors %}
    <p>Wrong! Please correct the error(s) below.</p>
    {% endif %}

    <div>
        {{ form.old_password.label_tag }} {{ form.old_password }}
    </div>

    <div>
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    </div>

    <div>
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    </div>

    <button type="submit">PW CHANGE</button>

</form>

</body>
</html>