<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
    {% load staticfiles %}
</head>

<style>
    .box{
        width: 400px; height:auto;
        border: 1px solid lightgray;
        display: inline-block;
    }
    img{
        width:380px; height:380px;
        margin:auto; display:block;
    }
</style>

<body>

    <div id = "content">

        {% for post in object_list %}

        <div class = "box">
            <p> {{ post.title }} </p>
            <a href="{% url 'blog_detail' post.id %}">
                <img src="{{ post.image.url }}">
            </a>
            <p> {{ post.description }} </p>
            <p> Create Date: {{ post.create_date }} </p>
            <p> Create Date: {{ post.modify_date }} </p>
        </div>
        {% endfor %}

    </div>

</body>
</html>